// app global css in SCSS form
// @import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-display: swap;
}
.body--light {
  .Bg-brown-1 {
    background-color: $brown-1;
  }
  .mydrawer {
    background-color: white;
    color: $teal-10;
  }
  .title {
    background-color: white;
  }
  .subtitle {
    background-color: white;
  }
  .header {
    color: $teal-10;
  }
  .card-title {
    color: $teal-10;
    font-weight: bold;
  }
  .card-subtitle {
    color: $teal-9;
    font-weight: bold;
  }
  .card-text {
    color: $teal-10;
  }
}
.body--dark {
  .Bg-brown-1 {
    background-color: black;
  }
  .mydrawer {
    background-color: black;
    color: white;
  }
  .title {
    background-color: #1d1d1d;
    border: 1px solid $green-10;
    border-bottom: 0;
  }
  .subtitle {
    background-color: #1d1d1d;
    // border: 1px solid $green-10;
    // border-width: 1px 0;
  }
  .header {
    color: white;
  }
}

.q-toolbar {
  min-height: auto;
}
